@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.redd.it/mmqupk5zv4s51.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: cover;
    font-family: 'Raleway', sans-serif;
    ;

}


.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}

header {
    width: 100%;
    max-width: 360px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 15px;
}

h1 {
    color: whitesmoke;
    font-size: 50px;
    padding: 0 25px;
}

.contain {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bloc-car {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.configuration {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-tesla {
    width: 90px;
    height: 15%;
    margin-left: 15px;
}

.subtitle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fdfdfd;
    font-size: 23px;
    font-weight: 600;
    margin: 30px;
}

.btn-grp {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.choice-one {
    width: 100%;
}

.choice-two {
    width: 100%;
}

.black {
    border: 4px solid #525252;
}

.bloc-color {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.blue {
    border: 4px solid #e91c22;
}

.choice-one button {
    width: 100%;
    max-width: 600px;
    height: 60px;
    border-radius: 10px;
    background: #fdfdfd;
    font-size: 22px;
    font-weight: 900;
}

.choice-two button {
    width: 100%;
    max-width: 600px;
    height: 60px;
    border-radius: 10px;
    background: #fdfdfd;
    font-size: 22px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}

.configuration {
    width: 100%;
}

.buy {
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.buy button {
    max-width: 300px;
    height: 60px;
    border: none;
    font-size: 22px;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    background: #e91c22;
    color: #fdfdfd;
}

.configuration p {
    width: 100%;
    max-width: 175px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fdfdfd;
    padding: 0 10px
}